.pageTitle {
  border: 1px solid #ccc;
  background:  rgb(145, 179, 229);
}

.detailsRoot {
  margin: 24px;
  box-sizing: border-box;
  background: #ececec;
  padding: 30px;
}

.propertyName {
  color: darkblue;
  font-size: 14px;
  margin: 16px 0;
}

.loader{
  display:flex;
  justify-content: center;
  align-items: center;
}